/* Base Styles CSS Start */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section-spacing {
  padding: 60px 0;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navbar Section CSS Start */

.navbar {
  background: #ffffff;
  padding-top: 25px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  font-size: 16px;
  color: #000000;
  padding: 11px 35px !important;
}

.sign-in-btn {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(97.16deg, #106caa 0.7%, #48ae4d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 10px;
}

.sign-in-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #106caa, #48ae4d) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* Navbar Section CSS End */

/* Hero Section CSS Start */

#Hero {
  padding-top: 60px;
  padding-bottom: 30px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hero-card h4 {
  padding-top: 25px;
}

.hero-card h4 a {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.hero-card .active {
  padding: 20px 100px;
  border: 1px solid #000000;
  border-radius: 7px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Insurance Section CSS Start */

#Insurance {
  margin-bottom: 100px;
}

.insurance-wrapper {
  background: url(../images/insurance-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 235px;
}

.health-title h2 {
  font-size: 38px;
  font-weight: 600;
  color: #000000;
  max-width: 500px;
  margin: 0 auto 50px;
}

.insurance-content p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 0;
}

.insurance-content h2 {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
}

.insurance-content h6 {
  font-size: 20px;
  font-weight: 700;
  color: #106caa;
}

.insurance-content .button {
  margin-top: 65px;
  margin-bottom: 35px;
}

.button a {
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(97.16deg, #106caa 0.7%, #48ae4d 100%);
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 7px;
}

.insurance-content h5 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.insurance-status {
  position: absolute;
  left: -5px;
  bottom: -30px;
  max-width: 190px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185),
    0px 20px 13px rgba(0, 0, 0, 0.035),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 37px;
}

.insurance-status span {
  font-size: 20px;
  color: #000000;
}

.insurance-status h3 {
  font-size: 45px;
  font-weight: 700;
}

.health-card {
  max-height: 200px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 35px;
  margin-top: 22px;
}

.health-card img {
  background: #e7f0f7;
  padding: 10px;
  border-radius: 7px;
}

.health-card p {
  font-size: 16px;
  color: #000000;
  padding-top: 15px;
  margin-bottom: 0;
}

/* Insurance Section CSS End */

/* Main Part CSS End */
